<template>
    <AddArticle @submit="handleSubmit($event)"></AddArticle>
 
    
</template>

<script setup lang="ts">
import AddArticle from '@/components/AddArticle.vue';



import { postArticle } from '@/service/Article_Service';
import type { Article } from '@/entities';
import { useRouter } from 'vue-router';

const router = useRouter();
async function handleSubmit(article:Article) {
    const added = await postArticle(article);

    router.push("/article/"+added.id);
}


</script>