<template>
  
  
  <section>
    <div class="row">
      <div class="card col-3" v-for="article of articles">
        <div class="img-container">
          <img :src="article.image" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ truncateString(article.name, 50) }}</h5>
          <button>
            <RouterLink :to="'/article/' + article.id" class="card-link"
              >See More</RouterLink>
          </button>
        </div>
      </div>
    </div>
  </section>
  <footer class="section-p1">
    <div class="col">
      <h4>@ YOUR Compagny</h4>
      <p>
        Donec nec ante nisi. Vestibulum tincidunt lectus sed magna fringilla
        sagittis.
      </p>
      <p>© 2022 Your Company. All rights reserved.</p>
    </div>

    <div class="col">
      <h4>About</h4>
      <a href="#">About us</a>
      <a href="#">Delivery information</a>
      <a href="#">Privacy policy</a>
      <a href="#">Terms &amp; Condition</a>
      <a href="#">Contact Us</a>
    </div>

    <div class="col">
      <h4>My Account</h4>
      <a href="#">Sing In</a>
      <a href="#">View Cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track My Order</a>
      <a href="#">Help</a>
    </div>
  </footer>
</template>


<style>

.section-p1{
  margin-top: 100px;
}
.row {
  margin-top: 100px;
}

.carousel-item {
}
footer {
  background: white;

  color: white;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  color: black;
}

a {
  color: black;
}

.img-container {
  height: 200px;
  display: flex;
  align-items: center;
}
</style>


<script setup lang="ts">
import type { Article } from "@/entities";
import { fetchAllArticlesByCategorie } from "@/service/Article_Service";
import { ref, watch } from "vue";
import { useRoute } from "vue-router";

const route = useRoute();

//Une ref qui indique que les données sont en cours de chargement

const articles = ref<Article[]>([]);


  watch(
  () => route.params.theme,
  async () => {
    articles.value = await fetchAllArticlesByCategorie(route.params.theme as string);
  },
  { immediate: true }
  
);
function truncateString(str: string, num: number) {
  if (str.length <= num) {
    return str;
  }
  return str.slice(0, num > 4 ? num - 4 : num) + "...";
}
</script>

