<template>

<form @submit.prevent="handleLogin()">
      <div class="row">
        <div class="col-25">
          <label for="email">email</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            v-model="email"
            placeholder="email"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="password">password</label>
        </div>
        <div class="col-75">
          <input type="password" v-model="password" placeholder="password" />
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit" />
      </div>
</form>
</template>
<script setup lang="ts">
import { useAuth } from '@/stores/Auth';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const auth = useAuth();
const email = ref('');
const password = ref('');


async function handleLogin() {
    await auth.login(email.value, password.value);
    console.log("login");
    router.back();
}



</script>

<style scoped>

body{
  background-image: url(/src/assets/successful-blog.png);
  background-repeat: no-repeat;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"] {
      width: 100%;
      margin-top: 0;
    }
  }
  </style>