<template>
  <div class="row" v-if="article">
    <img :src="article.image" class="card-img-top" alt="..." />
    <div class="card-body">
      <h4>{{ article.name }}</h4>
      <h5 class="card-contenu">{{ article.contenu }}</h5>
      <p class="card-DatePublication"><h4>{{ article.datePublication }}</h4>
     <p class="card-auteur"><h4>{{ article.auteur }}</h4></p>
      </p>
    </div>
  </div>
</template>
<script setup lang="ts">
import { fetchOneArticle } from "@/service/Article_Service";
import type { Article } from "@/entities";
import { ref, watch } from "vue";
import { useRoute, useRouter } from "vue-router";

const route = useRoute();

//Une ref qui indique que les données sont en cours de chargement

const router = useRouter();
const article = ref<Article>();

watch(
  () => route.params.id,
  async () => {
    article.value = await fetchOneArticle(route.params.id);
  },
  { immediate: true }
);

const emit = defineEmits<{
  submit: [Article: Article];
}>();
const { initialArticle } = defineProps<{
  initialArticle?: Article;
}>();
/*
const article = ref<Article>({
  name: "",
  contenu: "",
  datePublication: "",
  auteur: "",
  image: "",
  ...initialArticle,
});
 Object.assign(dog.value, initialDog)
 async function handleSubmit() {
   emit("submit", article.value);
  }
  */
</script>

<style>


</style>
