<template>
  <div class="container">
    <form @submit.prevent="handleSubmit()">
      <div class="row">
        <div class="col-25">
          <label for="Name">Name</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            v-model="article.name"
            placeholder="Name of auteur"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="contenu">contenu</label>
        </div>
        <div class="col-75">
          <input type="text" v-model="article.contenu" placeholder="contenu" />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="DatePublication">DatePublication</label>
        </div>
        <div class="col-75">
          <input
            type="date"
            v-model="article.datePublication"
            placeholder="DatePublication"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="auteur">Auteur</label>
        </div>
        <div class="col-75">
          <input type="text" v-model="article.auteur" placeholder="Auteur" />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="image">image</label>
        </div>
        <div class="col-75">
          <input type="text" v-model="article.image" placeholder="image" />
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="categorie">categorie</label>
        </div>
        <div class="col-75">
          <select id="categorie" name="categorie">
            <option value="1">sport</option>
            <option value="2">economie</option>
            <option value="3">numérique</option>
          </select>
        </div>
      </div>
     
      
      <br />
      <div class="row">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>

  <div v-if="article.id">
    <p>
      The article has been added.
      <RouterLink :to="'/article/' + article.id">See the article</RouterLink>
    </p>
  </div>

  <footer class="section-p1">
    <div class="col">
      <h4>@ YOUR Compagny</h4>
      <p>
        Donec nec ante nisi. Vestibulum tincidunt lectus sed magna fringilla
        sagittis.
      </p>
      <p>© 2022 Your Company. All rights reserved.</p>
    </div>

    <div class="col">
      <h4>About</h4>
      <a href="#">About us</a>
      <a href="#">Delivery information</a>
      <a href="#">Privacy policy</a>
      <a href="#">Terms &amp; Condition</a>
      <a href="#">Contact Us</a>
    </div>

    <div class="col">
      <h4>My Account</h4>
      <a href="#">Sing In</a>
      <a href="#">View Cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track My Order</a>
      <a href="#">Help</a>
    </div>
  </footer>
</template>

<script setup lang="ts">
import { postArticle } from "@/service/Article_Service";
import type { Article } from "@/entities";
import { ref } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();

const emit = defineEmits<{
  submit: [article: Article];
}>();
const { initialArticle } = defineProps<{
  initialArticle?: Article;
}>();

const article = ref<Article>({
  name: "",
  contenu: "",
  datePublication: "",
  auteur: "",
  image: "",
  id_categorie: 0,
  nom: "",
  ...initialArticle,
});

// Object.assign(dog.value, initialDog)

async function handleSubmit() {
  emit("submit", article.value);
}
</script>

<style>
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  color: black;
}

a {
  color: black;
}
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
