<template>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

       
        <li class="nav-item">
          <RouterLink class="nav-link" to= "/" >home</RouterLink>
        </li>
       
        <li class="nav-item" v-if= "auth.user" >
          <RouterLink class ="nav-link" to="/AddArticle" >AddArticle</RouterLink>
        </li>
       <li class="nav-item">
        <RouterLink to="/login" v-if="!auth.user">Login</RouterLink>
        <button v-if="auth.user" @click="clicklogout()">Logout</button>

      </li>       

        <li class="nav-item">
          <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    categorie
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item active" href="/categorie/1">sport</a></li>
    <li><a class="dropdown-item" href="/categorie/2">economie </a></li>
    <li><a class="dropdown-item" href="/categorie/3">numerique</a></li>

  </ul>
</div>
      </li>
      </ul>
    </div>
  </div>
  
</nav>
 

</template>
<script setup lang="ts">

import type { Article } from '@/entities';

import { ref } from 'vue';

import router from '@/router';
import { useAuth } from '@/stores/Auth';

const ArticleList = ref<Article[]>([]);


const auth = useAuth();
function clicklogout(){
  auth.logout()

  router.push("/login");
}

</script>

<style>


</style>

