<template>
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="20000">
        <img src="/src/assets/sport.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="/src/assets/economie-modified.webp"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>about of economomie.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-item active" data-bs-interval="20000">
          <img
            src="/src/assets/numerique-modified.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>What is about of numerique</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="row">
      <div class="card col-3" v-for="article of articles">
        <div class="img-container">
          <img :src="article.image" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ truncateString(article.name, 50) }}</h5>
          <button>
            <RouterLink :to="'/article/' + article.id" class="card-link"
              >See More</RouterLink
            >
          </button>
        </div>
      </div>
    </div>
  </section>

  <br />
  <footer class="section-p1">
    <div class="col">
      <h4>@ YOUR Compagny</h4>
      <p>
        Donec nec ante nisi. Vestibulum tincidunt lectus sed magna fringilla
        sagittis.
      </p>
      <p>© 2022 Your Company. All rights reserved.</p>
    </div>

    <div class="col">
      <h4>About</h4>
      <a href="#">About us</a>
      <a href="#">Delivery information</a>
      <a href="#">Privacy policy</a>
      <a href="#">Terms &amp; Condition</a>
      <a href="#">Contact Us</a>
    </div>

    <div class="col">
      <h4>My Account</h4>
      <a href="#">Sing In</a>
      <a href="#">View Cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track My Order</a>
      <a href="#">Help</a>
    </div>
  </footer>
</template>

<script setup lang="ts">
import type { Article } from "@/entities";
import { fetchAllLasArticles } from "@/service/Article_Service";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { onMounted, ref } from "vue";

function truncateString(str: string, num: number) {
  if (str.length <= num) {
    return str;
  }
  return str.slice(0, num > 4 ? num - 4 : num) + "...";
}
const articles = ref<Article[]>([]);


onMounted(async () => {

  articles.value = await fetchAllLasArticles();
});
</script>

<style scoped>

.section-p1{
  margin-top: 100px;
}
.row {
  margin-top: 100px;
}

.carousel-item {
}
footer {
  background: white;

  color: white;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  color: black;
}

a {
  color: black;
}

.img-container {
  height: 200px;
  display: flex;
  align-items: center;
}
</style>
