<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Header from './components/Header.vue';




</script>

<template>

    
    

      <nav>
        <Header></Header>
        <div class="container-lg">
          <RouterView />
        </div>
 
     
       
      </nav>



</template>

<style scoped>

body{

  margin:0px;
  padding:0px;
}

</style>
